<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog.config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://nlog.config http://nlog-project.org/schemas/NLog.xsd">

	<!-- Define Targets: Locations where logs will be sent -->
	<targets>
		<!-- File target to log messages to a file -->
		<target name="logfile" xsi:type="File" fileName="logs/logfile.txt" />

		<!-- Console target to log messages to the console -->
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<!-- Define Rules: Mapping loggers to targets -->
	<rules>
		<!-- Log messages from all sources (logger name = *) to both file and console -->
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>
</nlog>

